<nav class="navbar">
  <div class="container-fluid">
   <div class="col-md-6">
    <a class="navbar-brand">e - ASSESSMENT</a>
    
   </div>
    <span class="icons">
      <img src="assets/images/question.png" class="question" alt="">&nbsp;&nbsp;
      <img src="assets/images/settings.png"  class="settings" alt="">&nbsp;&nbsp;
      <div class="search-box">
      <img src="/assets/images/search.png" class="search" alt="">&nbsp;&nbsp;
      </div>
      <div class="group-main">
      <img src="/assets/images/Group.png" class="group" alt="">&nbsp;&nbsp;
    </div>
    <div class="power-main">
      <img src="/assets/images/power.png" class="power" alt="">&nbsp;&nbsp;
    </div>
    </span>
  </div>
</nav>