main {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: 1;
}
app-sidebar {
    position: absolute;
   
    top: 9px;
    left: 0rem;
    width: 85px;
    height:700px;
   
    background-color: #0C747E;
}








