<div class="container">
    
        <div class="items" >
            <a href=""><img src="/assets/images/items.png" style="width: 73px; height: 80px;" alt=""></a>
        </div><br>
        <div class="tests">
            <img src="/assets/images/tests.png"style="width: 73px; height: 73px;" alt="">
        </div><br>
        <div class="testtakers" style="height: 90px;">
            <img src="/assets/images/testtakers.png" style="width: 73px; height: 90px; " alt="">
        </div><br>
        <div class="groups">
            <img src="/assets/images/groupss.png" style="width: 73px; height: 73px;" alt="">
        </div><br>
        <div class="deliveries">
            <img src="/assets/images/deliveries.png" style="width: 73px; height: 73px;"alt="">
        </div><br>
        <div class="results">
            <img src="/assets/images/results.png" style="width: 73px; height: 85px;" alt="">
        </div>
    </div>
   
    <div id="sideba">
        <div class="drop-down-1">
            <p style="font-weight: 800; font-size: 13px; color: #0C747E; padding-left: 4px;">COMMON INTERACTION</p>
            <img src="/assets/images/drop-down.png" class="drop-arrow" alt="">
        </div><br><br>
        <div class="sideba-2">
        <div class="row-1" style="display: flex;">
       <img src="/assets/images/choice.png" style="padding: 7px;" alt="" >
       <img src="/assets/images/associate.png" style="padding: 7px;" alt="" >
       </div>
        <div class="row-2">
       <img src="/assets/images/match.png" style="padding: 7px;"alt="">
       <img src="/assets/images/order.png" style="padding: 7px;" alt="">
       </div>
        <div class="row-3">
       <img src="/assets/images/hottext.png" style="padding: 7px;" alt="">
       <img src="/assets/images/gap match.png" style="padding: 7px;" alt="">
       </div>
        <div class="row-4">
       <img src="/assets/images/slider.png" style="padding: 7px;" alt="">
       <img src="assets/images/ext text.png" style="padding: 7px;" alt="">
       </div>
        <div class="row-5">
       <img src="assets/images/media.png" style="padding: 7px;" alt="">
       <img src="assets/images/fileupload.png" style="padding: 7px;" alt="">
       </div>
    </div>
    <div class="down">
    <div class="inline">
        <p style="font-weight: 800; padding-top: 10px;padding-left: 8px; color: #0C747E; font-size: 13px;">INLINE INTERACTION</p>
        <img src="/assets/images/drop-down.png" class="drop-arrow-1" style="top: 15px;" alt="">
    </div>
    <div class="graphic">
        <p style="font-weight: 800; padding-top: 10px;padding-left: 8px; color: #0C747E; font-size: 13px;">GRAPHIC INTERACTION</p>
        <img src="/assets/images/drop-down.png" class="drop-arrow-2" style="top: 15px;"alt="">
    </div>
    <div class="custom">
        <p style="font-weight: 800; padding-top: 10px;padding-left: 8px; color: #0C747E; font-size: 13px;">CUSTOM INTERACTION</p>
        <img src="/assets/images/drop-down.png" class="drop-arrow-3" style="top: 15px;" alt="">
    </div>
</div>
    </div>

